body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container{
    margin: 50px auto;
    max-width: 400px;
    background: #cb7dff;
    background: linear-gradient(90deg, rgba(203, 125, 255, 1) 0%, rgba(245, 203, 203, 1) 50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
}

h1{
    color: brown;
}

.dice-space{
    display: flex;
    justify-content: space-around;
}

.player{
    text-align: center;
}

.dice{
    font-size: 30px;
    margin: 10px 0;
}

button{
    background-color: rgb(255, 140, 0);
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

#result{
    margin-top: 20px;
    font-size: 19px;
    color: darkgreen;
    font-weight: bold;
}
