body{
    font-family: sans-serif;
}

.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.form{
    display: flex;
}

input[type="text"]{
flex: 1;
padding: 5px;
border: 1px solid gray;
border-radius: 5px;
}

button{
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 6px;
    background-color: brown;
    color: yellow;
    border: none;
    border-radius: 3px;
}

li{
    margin-bottom: 10px;
}
